.button {
    background-color: rgb(157, 237, 218);
    border: 1px solid rgb(29, 32, 31);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
  }
  
  .button:hover {
    background-color: rgb(243, 239, 28);
  }